.swiper-button-next {
  background-image: url(/assets/arrow_right.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(/assets/arrow_left.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}


.movie_header {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-size: 20px;
font-weight: bold;
color: var(--color-text);
margin-top: 100px;
margin-bottom: 100px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-size: 20px;
font-weight: bold;
color: var(--color-text);
padding-bottom: 30px;
padding-top: 30px;
}
//large
@media screen and (min-width: 769px) and (max-width: 1024px) {
font-size: 20px;
font-weight: bold;
color: var(--color-text);
}
//extra large
font-size: 20px;
font-weight: bold;
color: var(--color-text);
}
