
.hero {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {

}
//large
@media screen and (min-width: 769px) and (max-width: 992px, 1024px) {

}
//extra large

}

--color-red: #E50914;
{
    background: linear-gradient(270deg,transparent,rgba(0,0,0,.85) 65%);
}

  box-shadow: 0 0 10px #E50914, 0 0 40px #E50914, 0 0 80px #E50914;