.navbar {
  background: #16181E;
  color: #F9F9F9;
}

.nav-link {
 color: #F9F9F9;
}

.navbar-brand {
 color:  #00B9AE;
 transition: all 0.25s ease;
}

.navbar-brand:hover {
 color:  #F9F9F9;
}

.search_btn {
  background: #00B9AE;
  color: #F9F9F9; 
  transition: all 0.25s ease;
}

.search_btn:hover {
  background: #F9F9F9;
  color: #00B9AE;  
}







