.thumbnail {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 200px;
height: 305px;
background: #19191B;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
padding-bottom: 8px;
position: relative;
overflow: hidden;
}

.thumbnail_rating {
position: absolute;
top: 15px;
left: 15px;
border-radius: 30px;
width: 50px;
padding: 2px 0px;
font-size: 14px;
background: var(--color-button-bg);
color: var(--color-button-text);
display: flex;
justify-content: space-evenly;
align-items: center;
}

.thumbnail_rating_star {
  margin-top: -2px;
}


.thumbnail_image {
width: 300px;
height: 300px;
border-top-right-radius: 6px;
border-top-left-radius: 6px;
}

.thumbnail_title {
font-size: 16px;
line-height: 24px;
color: #D1D5DB;
text-align: center;
margin-top: 10px;
}















