.latest {
  width: 1368px;
  height: 379.12px;
  margin: auto;
  padding: 10px;
}



.latestHeader {
  color: #F9F9F9;
  font-size: 20px;
}


.card_cont {
  display: flex;
  flex-direction: column;
  width: 237px;
  height: 250px;
  border-radius: 15px;
  background: #F9F9F9;
  
}

.card-image {
  width: 100%;
  border-start-start-radius: 13px;
  border-start-end-radius: 13px;
}


.original_title {
  font-family: "Lato";
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #16181E;
}

